<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/updateData" method="post">
        <input type="text" value="<%=data.id%>" hidden placeholder="Enter Your Id" name="id">
        <input type="text" value="<%=data.imgUrl%>"  placeholder="Enter Your Img url" name="imgUrl">
        <input type="text" value="<%=data.name%>"  placeholder="Enter Your Name" name="name">
        <input type="text" value="<%=data.autherName%>"  placeholder="Enter Your autherName" name="autherName">
        <input type="text" value="<%=data.price%>"  placeholder="Enter Your price" name="price">
        <input type="text" value="<%=data.soldCopies%>"  placeholder="Enter Your soldCopies" name="soldCopies">
        <button type="submit">Update</button>
    </form>
</body>

</html>